body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2,0,3,1)32%, rgba(9,121,80,1)100%, rgba(0,212,255,1) 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a.logout{  
    color:  var(--white);
}

h2 {
    text-align: center;
    color: var(--primary_color);
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: var(--titulo_leito_livre);
}