.container_pai {
    width: 70%;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
    background-color: #1e272f;

}

header.cabesalho {
    background-color:rgba(2,0,36,1);
    color: white;
    padding: 20px;
    text-align: center;
}

header.cabesalho h1 {
    font-size: 2em;
}

header.cabesalho p {
    font-size: 1.1em;
}

.relatorios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.relatorio {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.relatorio h2 {
    font-size: 1.5em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.relatorio p {
    margin-bottom: 8px;
}


.logout_relatorios {
    margin-right: 100%;
}