
a.gestao {
    margin-bottom: 50px;
}
.home-container {
    background-color: var(--fundo_container);
    padding: 60px;
    height: 70%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.blocos{
    border-radius: 5px;
    width: 30%;
    height: 70%;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.411);
    background-color:var(--secondary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    text-decoration: none;  
    color: var(--white);
    text-shadow:2px 3px 3px #000000;
}
a.blocos:hover {
    transform: scale(1.1); background-color: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(9,121,80,1) 100%, rgba(0,212,255,1)12%);

}
a.blocos:active {
    position: relative;
    top: 3px;
}
img.iconesDeSelecao{
    margin-bottom: 20%;
    color: var(--white);
    
}

a.logout{
    position: absolute;
    top: 16%;
    left: 16%; 
    color:  var(--white);
    margin-top: 35px;
}
